@charset "utf-8";
body { margin:0; padding:0; width:100%; background: url(images/main_bg.gif);}
html { padding:0; margin:0;}

a { text-decoration:none;}
a:hover { text-decoration:underline;}
/* main */
.main { padding:0; margin:0 auto;}
/********** header **********/
.blok_header { margin:0 auto; padding:0;  background:url(images/header_bg.jpg) top repeat-x;}
.header { margin:0 auto; padding:0;  width:1003px; }
/* logo */
.logo { padding:0; margin:0; width:486px; float:left;}
/* header_text */
.header_text_top { float:right; width:517px; background:url(images/header_text_bg.gif) top no-repeat; height:82px; margin:58px 0 0 0; padding:0;}
.header_text_top p { font: normal 11px Arial, Helvetica, sans-serif; color:#bababb; padding:20px 30px 0 80px; margin:0; line-height:1.8em;}
/* menu */
.bg_menu { width:1003px; background:url(images/menu_bg.jpg) top no-repeat; height:62px; margin:0 auto; padding:0;}
.bg_menu img { float:right; padding:13px 60px 0 0; margin:0;}
.menu { padding:0; margin:0; width:750px; float:left;}
.menu ul { padding:20px 20px 0 20px; margin:0; list-style:none; border:0; float:left;}
.menu ul li { margin:0; padding:0; border:0; float:left; }
.menu ul li a { border-right:1px solid #777777; float:left; margin:0; padding:5px 20px; color:#fff; font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a:hover { color:#037963; text-decoration:underline;}
.menu ul li a.active { color:#037963; text-decoration:underline;}
/*header_text_bg*/
.header_text_bg { margin:0 auto; padding:0; background:url(images/header_text_bg_top.gif) top repeat-x;}
/*header_text*/
.header_text { height:363px; margin:0 auto; padding:0; width:1003px; background: url(images/header_text_main_bg.gif) top center no-repeat;}
.header_text .div .left1 { float:left; width:420px; padding:27px 0 0 40px; margin:0;}
.header_text .div .left1 img { margin:20px 0 0 0; padding:0;}
.header_text .div .left1 h2 {  font:normal 36px Arial, Helvetica, sans-serif; color:#333436; padding:15px 0 5px 0; margin:0;}
.header_text .div .left1 h2 span { font: bold 26px Arial, Helvetica, sans-serif; color:#ff6c00;}
.header_text .div .left1 p { font: normal 11px Arial, Helvetica, sans-serif; color:#595959; line-height:1.8em;}
.header_text .div .left1 ul {  margin:10px  auto; padding:15px 0 0 0; list-style:none;}
.header_text .div .left1 li { font: normal 13px  Tahoma, Geneva, sans-serif; color:#777777; background: url(images/bg_p_ul_li.gif) left no-repeat; text-decoration:underline; padding:2px 0 2px 15px; line-height:normal; margin:3px 0;}
.header_text p { font:normal 12px   Arial, Helvetica, sans-serif; color:#292929; padding:20px 0 0 0; margin:0; line-height:1.8em;}
/*header_text_bg2*/
.header_text_bg2 { margin:0; padding:0; background:url(images/header_text_bg_top2.gif) top repeat-x;}
/*header_text*/
.header_text2 { height:146px; margin:0 auto; padding:0; width:1003px; background: url(images/header_text_main_bg2.gif) top center no-repeat;}
.header_text2  h2 { width:220px; float:left; font:normal 36px Arial, Helvetica, sans-serif; color:#333436; padding:50px 0 0 20px; margin:0;}
.header_text2 p { width:660px; float:left; margin:0; padding:53px 0 0 0; font: normal 11px Arial, Helvetica, sans-serif; color:#000000; line-height:1.8em;}
/* FBG */
.FBG_top { margin:0; padding:0; background:#e5e5e5;}
.FBG { width:1003px; margin:0 auto; padding:0;}
.FBG_resize { width:304px; float:left; margin:10px 0; padding:10px 15px;}
.FBG h2 {  font: bold 17px  Arial, Helvetica, sans-serif; color:#000; padding:15px 5px; margin:0;}
.FBG p { font: normal 11px  Arial, Helvetica, sans-serif; color:#595959; padding:10px; margin:0; line-height:1.8em;}
.FBG a { text-decoration:none;  color:#21aad6;}
.FBG img { float:left; margin:10px; padding:0;}
/********** body **********/
.body_resize { margin:0; padding:20px 0 0 0; background:#e5e5e5;}
.banner {
  position:relative;
  width:auto;
  height:auto;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.body { width:1003px; margin:0 auto; padding:0;}
.body a { color:#ff6c00; text-decoration:underline;}
.body h2 { border:0; font: bold 18px Arial, Helvetica, sans-serif; color:#000; margin:0px; padding:15px 5px;}
.body h3 { border:0; font: bold 14px Arial, Helvetica, sans-serif; color:#5b5b5b; margin:0px; padding:5px;}
.body img { float:left; padding:0; margin:10px;}
.body p { font:normal 12px  Arial, Helvetica, sans-serif; color:#343434; line-height:1.8em; padding:5px; margin:0;}
.body p span { color:#9d9d9d;}
.body strong { color:#037963;}
.body em { color:#9c9c9c;}
.body_small { width:331px; float:left; margin:0; padding:10px;}
.body_big { width:632px; float:left; margin:0; padding:10px;}
/* Navigation */
ul.Navigation { padding:0; margin:0; list-style:none; border:0;}
ul.Navigation li { margin:0; padding:3px 10px; border:0; line-height:0px;}
ul.Navigation li a { border:1px solid #c0c0c0; display:block; padding:5px 20px 5px 35px;  background:#e8e8e8 url(images/sub_ul_li.gif) 10px center no-repeat; color:#ff6c00; font:normal 11px Arial, Helvetica, sans-serif; text-decoration:none; line-height:1.6em;}
ul.Navigation li a:hover { background:#fff  url(images/sub_ul_li.gif) 10px center no-repeat; }
ul.Navigation li a.active { background:#fff  url(images/sub_ul_li.gif) 10px center no-repeat; }
/********** footer **********/
.footer { margin:0; padding:0; background:url(images/footer_bg.gif) top repeat-x; }
.footer_resize { margin:0 auto; padding:10px 0; width:978px;}
.footer ul { margin:0; padding:20px 10px 10px 10px; list-style:none; float:left;}
.footer img { display:inline; margin:5px 10px; padding:0;}
.footer ul li { margin:0; padding:0 10px; float:left;}
.footer p { margin:0; padding:20px 20px 10px 20px; float:right; color:#989898; font:normal 11px Arial, Helvetica, sans-serif; line-height:1.8em;}
.footer a { color:#acacac; font:normal 11px Tahoma, Geneva, sans-serif; text-decoration:none; line-height:1.8em;}
.footer a:hover { text-decoration:underline;}

/********** contact form **********/
#contactform { margin:0 0 0 20px; padding:5px 10px;}
#contactform * { color:#F00;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { float:left; margin:0; width:100px; padding:5px 0; font:normal 11px  Arial, Helvetica, sans-serif; color:#6e6e6e; text-transform:capitalize;}
#contactform label span { font:normal 10px Arial, Helvetica, sans-serif;}
#contactform input.text { width:430px; border:1px solid #b9b9b9; margin:5px 0; padding:5px 2px; height:15px; background:#f4f4f4;}
#contactform textarea { width:430px; border:1px solid #b9b9b9; margin:10px 0; padding:2px; background:#f4f4f4; height:250px;}
#contactform li.buttons input { padding:3px 0; margin:0 0 0 100px; border:0; color:#FFF;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em; width:auto;}

p.clr, .clr { clear:both; padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px solid #cccccc; padding:15px 0; margin:0 0 10px 0; background:none; list-style:none;}
li.line, .line { border-top:1px solid #cccccc; padding:0; margin:0; background:none; list-style:none;}

/* below from index.html */
.gallery {
  float:right;
  width:419px;
  height:262px;
  margin:36px 108px 0 0 !important;
  margin:36px 54px 0 0;
}
#slider {
  margin:0;
  padding:0;
  list-style:none;
}
#slider ul, #slider li {
  margin:0;
  padding:0;
  list-style:none;
}
/*
    define width and height of list item (slide)
    entire slider area will adjust according to the parameters provided here
*/
#slider li {
  width:419px;
  height:262px;
  overflow:hidden;
}
p#controls {
  margin:0;
  position:relative;
}
#prevBtn {
  display:block;
  margin:0;
  overflow:hidden;
  width:38px;
  height:42px;
  position:absolute;
  left:430px;
  top:-70px;
}
#nextBtn {
  display:block;
  margin:0;
  overflow:hidden;
  width:38px;
  height:42px;
  position:absolute;
  left:430px;
  top:-115px;
}
#prevBtn a {
  display:block;
  width:38px;
  height:42px;
  background:url(images/l_arrow.gif) no-repeat 0 0;
}
#nextBtn a {
  display:block;
  width:38px;
  height:42px;
  background:url(images/r_arrow.gif) no-repeat 0 0;
}
.style1 {
  color: #018667
}
.style2 {
  color: #037963;
  font-weight: bold;
}
.style3 {
  color: #037963
}